<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>

<body>
	<% if ( user ) { %>
		<h2>Hello <%=user%> </h2>
		<a href="/logout">Logout</a>
	
	<% } else { %>

		<a href="/register">Register</a>
		<a href="/login">Login</a>
		
	<% } %>

    <h1><%= title %></h1>
    <div><img src="img/logo.jpg" alt="Hack Hands logo"></div>
</body>
</html>